<div class="update-form d-flex">
  <li class="container-note-info">
    <p class="note-info note-title"><%= task.content.slice(0, 80) %></p>

    <%# DAYS SINCE SAVED %>
    <p class="note-info note-number"><%= (Date.today - task.created_at.to_date).to_i %> </p>

    <%# # OF LINES %>
    <p class="note-info note-number"><%= task.content.lines.size %></p>
  </li>
  <div class="update-task">
    <%= simple_form_for task, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, defaults: { input_html: { class: "note-details" }, label: false } do |f| %>
      <div class="row mb-3">
        <div class="col-md-4">
          <%= f.input :name, required: true,  placeholder: "Task name: I have to...", input_html: { class: "rounded-4" }, grid_wrapper_html: { class: "flex-grow-1" } %>
        </div>
        <div class="col-md-4">
          <%= f.input :reason, required: true,  placeholder: 'Because/in time for...', input_html: { class: "rounded-4" }, grid_wrapper_html: { class: "flex-grow-1" } %>
        </div>
        <div class="col-md-4">
          <%= f.input :due_date, html5: true, min: Date.today.to_s %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <%= f.input :content, input_html: { rows: 5, class: "rounded-4" }, grid_wrapper_html: { class: "flex-grow-1" } %>
        </div>
        <div class="col-md-6">
          <div class="row">

            <div class="col-md-6">
              <%= f.label :importance, class: 'form-label text-light' %>
              <%= f.input :importance, as: :range, input_html: { min: '0', max: '5' } %>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <%= f.submit "Save", class: "me-2" %>
        <%= link_to task_path(task), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger me-2" do %>
            <i class="fa-regular fa-trash-can"></i>
            Delete note
          <% end %>
          <button class="btn btn-sm btn-light btn-close-task-update">Close</button>
      </div>
    <% end %>
    Nested forms don't work - we need to do something smart with this subtask button.
    <%= render "new_subtask" %>
    <hr>
  </div>
</div>
<hr>
