<% if @tasks.empty? %>
  <p>No tasks - you're on top of things</p>
  <hr>
<% else %>
  <div class="accordion" id="accordionTasks">
    <% @tasks.each_with_index do |task, index| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading<%= index %>">
          <button
            class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
            <%= task.name %>
          </button>
        </h2>
        <div id="collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>" data-bs-parent="#accordionTasks">
          <div class="accordion-body">
            <%= task.content %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
