<% if @tasks.empty? %>
  <hr>
  <p class="text-center">No tasks - you're on top of things</p>
  <hr>
<% else %>
  <div class="accordion bg-transparent" id="accordionTasks">
  <%# raise %>
    <% @tasks.sort_by { |task| task.priority }.each_with_index do |task, index| %>
      <div class="accordion-item border-0">
        <h2 class="accordion-header mb-0" id="heading<%= index %>">
          <button
            <%# bootstrap %>
            class="accordion-button task-name" type="button"
            data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>"
            <%# Stimulus %>
            <%# data-action="click->hide-task-tabs#highlightCurrentTask" %>
            <%# data-hide-task-tabs-target="taskTabButton"> %>
            >
            <h3 class="task-name-text">
              <%= task.name %>:
              <%= task.priority %>
            </h3>
          </button>
        </h2>
        <div id="collapse<%= index %>" class="accordion-collapse collapse border-bottom" aria-labelledby="heading<%= index %>" data-bs-parent="#accordionTasks">
          <div class="accordion-body task-body text-light">
            <div class="task-body-content">
              <p>You have to <strong><%= task.name %></strong></p>
              <% if task.due_date.present? %>
                <p>By <strong><%= task.due_date.strftime('%A %e %B') %></strong></p>
              <% end %>
              <p><%= task.reason %></p>
              <div data-controller="mark-subtask-complete">
                <% task.subtasks.each_with_index do |st, index| %>
                  <div class="div-subtask d-flex flex-row bg-gray">
                    <%= form_for [task, st], method: :put, data: {'mark-subtask-complete-target': 'subtaskCheckboxForm'} do |form|  %>
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <p class="subtask-text <%= st.completion ? 'strikethrough' : '' %>"
                        data-mark-subtask-complete-target="subtaskText">
                        <%= st.content.truncate(20) %>
                      </p>
                      <div class="flex-grow-1"></div>
                      <%= form.check_box :completion, data: { 'mark-subtask-complete-target': 'checker' }, style: 'display: none;', checked: st.completion %>
                      <div class="subtaskCheckIconDiv" id="<%= index %>"  data-mark-subtask-complete-target="iconSubtaskCompletion"
                       data-action="click->mark-subtask-complete#toggleCompletion">
                        <% if st.completion %>
                          <i class="fa-solid fa-square subtask-checker"></i>
                        <% else %>
                          <i class="fa-regular fa fa-square subtask-checker"></i>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
                <div class="div-subtask flex-row d-flex bg-gray" style="width: 100%;padding: 0.6rem;padding-left: 0.4rem;display:
                  flex;align-items: center;align-items: center;">
                  <p for="check-all" class="subtask-text" >All completed</p>
                  <div class="flex-grow-1"></div>
                  <input id="check-all" type="checkbox" class="" style="display:none;" data-mark-subtask-complete-target="checkAllIcon" >
                  <div class="subtaskCheckIconDiv" data-mark-subtask-complete-target="completedAll"
                    data-action="click->mark-subtask-complete#toggleCompletionAll">
                    <% if task.subtasks.all?(&:completion) %>
                      <i class="fa-solid fa-square-check all-subtasks-checker"></i>
                      <%# <i class="fa-solid fa-check-square subtask-checker"></i> %>
                    <% else %>
                      <i class="fa-regular fa-square-check all-subtasks-checker"></i>
                      <%# <i class="fa-regular fa fa-square subtask-checker"></i> %>
                    <% end %>
                  </div>
                </div>
               </div>
              <hr>
              <%# buttons to edit, view original note and add subtasks %>
              <div class="task-buttons">
                <%= link_to task_path(task), data: { turbo_method: :delete, turbo_confirm: '#Deleting detailed note, are you sure?' }, class:"btn btn-sm btn-danger me-2 fw-bold" do %>
                  <i class="fa-regular fa-trash-can"></i>
                  Delete
                <% end %>
                <%= link_to edit_task_path(task), class:"btn btn-sm btn-light me-2 fw-bold" do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                  Edit
                <% end %>
              </div>
              <hr>
              <p class="see-note-button">
                 <%# MODAL SHOULD BE HERE %>
                <em>See original note</em>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
