
<% if @tasks.empty? %>
    <p>No tasks - you're on top of things</p>
    <hr>
  <% else %>
    <% tasks.each do |task| %>
      <p class="text-task-name"> <%= task.name %> ▶ </p>
      <div class="view-task">
        <p>You have to: <%= task.name %></p>
        <p> By: <%= task.due_date %></p>
        <p> Because: <%= task.reason %></p>
        <p> For: <%= task.contact %> </p>
        <p> * <%= task.importance %> </p>
        <p> * <%= task.difficulty %> </p>
        <p>[Sub tasks here]</p>
      </div>
      <hr>
    <% end %>
  <% end %>
