<div class="update-form d-flex">
  <hr>
  <h4>❌</h4>
    <%= simple_form_for(task) do |f| %>
      <%= task.content %>
      <%= f.input :reason %>
      <%= f.input :contact %>
      <%= f.input :due_date %>
      <%= f.input :importance %>
      <%= f.input :difficulty %>
      <%= f.submit %>
    <% end %>
    <%# why is it not confirming? %>
    <%= button_to "Destroy! 💣", task_path(task), method: :delete, data: { confirm: "Are you sure you want to delete this task?" }, class:"btn btn-danger" %>

</div>
