<div class="container m-4">
  <div class="d-flex justify-content-between">
    <h2>
      <%= link_to :root, class: "text-decoration-none" do %>
        <i class="fa-solid fa-circle-left"></i>
      <% end %>
      <strong>
        Edit task:
      </strong>
      <%= @task.name %>
    </h2>
  </div>
  <hr>
  <%# DISPLAY SUBTASKS %>


  <div>
    <%= render "show_subtasks", {task:@task} if @task.subtasks.present? %>
    <%= render "new_subtask", {task:@task} %>
  </div>
  <%= simple_form_for @task do |f| %>
    <%# Hidden field for dynamic page rendering for errors %>
    <%= f.hidden_field :source_path, value: request.fullpath %>

    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, required: true %>
    <hr>
    <%= f.label :content, class: 'form-label' %>
    <%= f.text_field :content, required: true %>
    <hr>
    <%= f.label :reason, class: 'form-label' %>
    <%= f.text_field :reason, required: true %>
    <hr>
    <%= f.label :due_date, class: 'form-label' %>
    <%= f.input :due_date, html5: true, min: Date.today.to_s, label: false %>
    <hr>
    <%= f.label :importance, class: 'form-label' %>
    <label class="integer optional form-label text-light mt-1 mb-0 p-0" for="task_importance">
      <span data-importance-target="span">1</span>
    </label>
    <%= f.input :importance, as: :range, input_html: { min: '1', max: '5' }, label: false %>
    <hr>
    <%= f.label :content_original, "Original note", class: 'form-label' %>
    <%= f.input :content_original, input_html: { rows: 3 }, grid_wrapper_html: { class: "flex-grow-1 mb-2" }, label: false %>
    <hr>
    <%= f.label :completion, class: 'form-label' %>
    <%= f.check_box :completion %>
    <hr>
    <%= f.submit "Save" %>
  <% end %>
</div>
