<h1>Tasks: Home</h1>
Add a new note
  <%= simple_form_for(@new_task) do |form| %>
    <div>
      <%= form.label :content %>
      <%= form.text_field :content, required: true %>
    </div>
    <%= form.submit "Create Task" %>
  <% end %>
<hr>1

<h2>Notes</h2>
<% @tasks.each do |task| %>
  <div>
    <input type="checkbox">
    <p class="note-text"><%= task.content %></p>
    <%= render "tasks/update_form" %>
    <hr>
  </div>
<% end %>\

<script>
const tasks = document.querySelectorAll('.note-text')

// function openTask(e) {
//   console.log(e);
// }

tasks.forEach((task) => {

  task.addEventListener("click", function(e) {console.log(task);});
});

// console.log("hello");
</script>
