<!DOCTYPE html>
<html>
  <head>
    <title>RailsCleartasks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# Bootstrap %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <%# Fonts %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

     <%# Fontawesome %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-wvfXpEpFIMBd2NZKK89AIKRMFl6Ro8SHr/JcK8jp4lLjlwQ2ORn0Z5k7bS5Fa4gB" crossorigin="anonymous">

    <%# Turbo %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if action_name == 'index' %>
      <div class="container-main">
        <%= yield %>
      </div>
      <% else %>
        <%= yield %>
      <% end %>

      <%= render "shared/alert" %>

    <%# Bootstrap & popperJS %>
    <%# Commented out for now, preventing accordion tabs to close %>
    <%# <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.js" integrity="sha384-5nxO28basTN0oojjESwP8Qm4oVsGeeMYOqXZTlbkw/fIOmXQcJnrDX3O6HBAmdDz" crossorigin="anonymous"></script> %>
  </body>
</html>
